.square1{
  background-color: #1abc9c;
  height: 500px;
  width: 500px;
}

.square2{
  background-color: #2ecc71;
  height: 500px;
  width: 500px;
}

.square3{
  background-color: #3498db;
  height: 500px;
  width: 500px;
}

.square4{
  background-color: #9b59b6;
  height: 500px;
  width: 500px;
}
.square5{
  background-color: #34495e;
  height: 500px;
  width: 500px;
}
