body{
  color: #2c3e50;
  margin: 0px;
}
header{
  background-color: #2ecc71;
  display: flex;
  flex-direction: row;
}

.container{
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 600px;;
}
.container .links{
  background-color: #2980b9;
  width: 25%;
}
.container .links a{

  margin-left: 5px;
}
.container .contents{
  background-color: #e74c3c;
  width: 50%;
}
.container .right{
  background-color: #ecf0f1;
  width: 25%
}
footer{
  background-color: #8e44ad;
  height: 200px;
}
